<ion-view title="Limiar">
  <ion-content class="padding">
    <div class="list card">

	  <a href="#/tab/aluno/cadastrar" class="item item-icon-left">
	    <i class="icon ion-person-stalker"></i>
	    Cadastrar Aluno
	  </a>

	  <a href="#/tab/aluno/listar" class="item item-icon-left">
	    <i class="icon ion-navicon"></i>
	    Listar Aluno
	  </a>

	  <a href="#/tab/aluno/testes" class="item item-icon-left">
	    <i class="icon ion-clipboard"></i>
	    Historico de Testes
	  </a>

<!-- 	  <a href="#/buscar-dispositivo" class="item item-icon-left">
	    <i class="icon ion-bluetooth"></i>
	    Buscar Dispositivo
	  </a>
 -->
	</div>
  </ion-content>
</ion-view>
