<ion-view title="Informacoes">
  <ion-content class="padding">
    <div class="row center padding">
      <div class="col">

    	<img src="./img/logo_sa.png" width="90px" />
    
    	<p>
        
        	Esse projeto foi desenvolvido pela <a href="http://www.satecnologia.net">SA Tecnologia Sistemas de Automaçao</a> e sobre responsabilidade administrativo de <a href="https://www.facebook.com/danieledfisica">Daniel Tavares de Andrade</a>.
    	</p>
      </div>

    
    </div>
  </ion-content>
</ion-view>
