/* Empty. Add your own CSS if you like */


.center { text-align: center;}
.row-background-positive {
	background-color: #4A87EE;
	color: #FFF;
}

.row-background-stable {
	background-color: #F8F8F8;
}

